.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.tituloLogin {
  font-size: 24px;
  font-weight: bold;
  text-align: center;

  margin: 20px 0;
}

.card {
  background-color: blanchedalmond;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
}
